include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include hongfa *.css
recursive-include hongfa *.csv
recursive-include hongfa *.html
recursive-include hongfa *.ico
recursive-include hongfa *.js
recursive-include hongfa *.json
recursive-include hongfa *.md
recursive-include hongfa *.png
recursive-include hongfa *.py
recursive-include hongfa *.svg
recursive-include hongfa *.txt
recursive-exclude hongfa *.pyc